.container {
    width: 95vw!important;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    top:100px;
}


@media only screen and (max-width:400px) {
 .container {
    justify-content: center;
    width: 100vw!important;
    margin: 0 auto;

 }

}
