.popup {
    width:600px;
    height: 400px;
    background-color: rgb(209, 209, 209);
    position: fixed;
    top:250px;
    z-index: 11;
    border-radius: 1%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.popup h2 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.update-profile {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    width: 350px;
}

.update-profile input {
    margin-top: 20px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.update-data-btn {
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    background: rgb(216, 140, 0);
    color:#000;
    cursor: pointer;
    font-size: 0.9em; 
    margin:15px;
}

.exit-btn {
    background-color: rgb(255, 55, 55);
    border:0;
    color:#fff;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
}