/* navbar styles */
.navbar {
    width: 100vw !important;
    background: #ffffff;
    padding: 15px 0 15px;
    box-shadow: 0 3px 3px -3px gray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.title {
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.4em;
    cursor: pointer;
}

.profile-bar {
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 5px;
    padding: 3px;
}

.user-container:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.user-name {
    font-size: 1em;
}
.logout-btn {
    position: relative;
    right: -50px;
    cursor: pointer;
}

.photo-profile {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 50%;
}

@media only screen and (max-width: 400px) {
    .logout-btn {
        right: 0px;
        width: 20px;
        height: 20px;
    }
    .profile-bar {
        margin-right: 15px;
    }
    .title {
        font-size: 20px;
    }
}
