@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap");

body {
    background: #f0f2f5;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Readex Pro, sans-serif;
    font-size: 1.1em;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}
